@page "/"

<PageTitle>Inicio</PageTitle>
<div class="container">
<div class="card mx-auto my-5 text-center">
    <div class="card-header">
        <h1 class="text-uppercase text-secondary">
            <b>Presentación</b>
         </h1>
        <img class="card-img-top img-fluid" style="width:100px;height:100px;object-fit:cover;" src="https://cdn-icons-png.flaticon.com/512/609/609053.png" alt="icon-presentation" />
    </div>
    <div class="card-body">
            <p>
                Nuestro proyecto de lenguaje 4 en Blazor se centra en una aplicación para reservar hoteles. Utilizando Blazor, hemos creado una interfaz atractiva que permite a los usuarios explorar opciones, ver detalles y realizar reservas de manera eficiente. La aplicación destaca Nuestra habilidad en el desarrollo web moderno y en la creación de soluciones efectivas para la reserva de alojamientos.
        </p>
    </div>
    <div class="card-footer">
        <p>
           <b>
                <em>Lenguaje de programación IV - by: Estrella y Juan Gabriel </em>
           </b> 
        </p>
            
    </div>
</div>

</div>

<SurveyPrompt Title="How is Blazor working for you?" />



